.welcome-h2 {
  font-size: 45px;
  font-weight: 300;
  margin-bottom: 15px;
}

.sprituality-h2 {
      font-size: 36px;
    color: #ffc13c;
    text-align: center;
    font-family: Roboto;
    font-weight: 300;
    font-style: normal;
}
