.welcome-h2 {
  font-size: 45px;
  font-weight: 300;
  margin-bottom: 15px;
}

.sprituality-h2 {
      font-size: 36px;
    color: #ffc13c;
    text-align: center;
    font-family: Roboto;
    font-weight: 300;
    font-style: normal;
}

.why-simplevedas-h2 {
    font-size: 45px;
    color: #ffffff;
    text-align: center;
    font-weight: 400;
    font-style: normal;
    margin-bottom : 20px;
}

.breadcrump {
    font-family: Raleway;
    text-transform: capitalize;
    color: #ffffff;
}

.breadcrumb {
    clear: both;
    color: #fff;
    float: left;
    font-size: 13px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    width: 100%;
}
